<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ClubeMais- Chatbot</title>
        <link rel="stylesheet" type="text/css" href="/style/custom.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/scripts/chat.js" type="text/javascript"></script>
		 <script>
            document.addEventListener("DOMContentLoaded", function(){
                var audio = document.getElementById("audio");
                 
                document.getElementById("play").addEventListener("click", function(){
                    audio.play();
                    console.log("Play");
                }, false);
                 
                document.getElementById("pause").addEventListener("click", function(){
                    audio.pause();
                    console.log("pause");
                }, false);
                 
                document.getElementById("volume").addEventListener("mousemove", function(){
                    var volume = document.getElementById("volume").value;
                    audio.volume = volume;
                    console.log(volume);
                }, false);
                 
            }, false);
        </script>
		<style>
			img{
				max-width:100%;
				height:auto;
			}
       </style>
    </head>
    <body>
    	
        <div class="header"> 
            <p></p>
        </div>
        <div class="main">
            <p></p>
        </div>
        <div class="footer">
            <p></p>
        </div>
        <div class="chat-popup" id="chat-popup">
            <div class="chat-header" style="background-image: url(../images/dindin2.png);"><span style="color:WHITE;"></span></div>
                        <div class="chat-body" id="chat-body">
<!--                <div class="chat-date"><span>Today, 2:22 PM</span></div>-->
            </div>
            <div class="chat-footer">
                <input type="text" id="chatInput" placeholder="Type a message..." onkeypress="return newEvent(event)"/>
                <a href="javascript:;" class="send-btn"></a>
            </div>
        </div>
        <div>
        <audio controls="controls" id="audio" autoplay style="display:none">
          <source src="../audio/banese.mp3" type="audio/mp3">
               Seu navegador não tem suporte a Tag Audio.
        </audio>
        <br />
<br />
</div> 
        
    </body>
</html>
